# Ігнорування зібраних файлів класів
*.class

# Лог файли
*.log

# Папки побудови проєкту
.idea/
target/
build/

# Налаштування IDE
.idea
*.iml
.vscode/

# Файли операційної системи
.DS_Store
Thumbs.db
